.container{
    display : grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;

    grid-template-areas: 
        "header header header header header header header header header header header header "
        "section section section section section section section section section section section section"
        "aside aside aside aside aside aside aside aside aside aside aside aside "
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

    header{
        grid-area: header;
    }
    .central{
        grid-area: section;
    }
    aside{
        grid-area: aside;
    }
    footer{
        grid-area: footer;
    }

}
header{
    background-color: #572626;
    
}
.central{
    background-color: #4734b1;
}
aside{
    background-color: #17b317;
}
footer{
    background-color: #5a6d15;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: aqua;
}
header {
  background-color: #599c77;

  padding: 25px;
}
aside {
  background-color: #90972d;
  padding: 25px;
}
section {
  border: 1px solid rgb(8, 8, 8);
}
article {
  border: 3px solid black;
  padding: 25px;
  background-color: #88262e;
}
footer {
  border-top: 1px solid black;
  background-color: #67c22b;
}
.container-central {
  padding-top: 10px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  background-color: #862121;
}
.main-content {
  background-color: burlywood;
  display: flex;
}
body {
  background-color: #ffffff;
}
li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #fff;
  color: #fff;
}
nav {
  background-color: #9c9559;
  width: 100%;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@font-face {
  font-family: "FasterOne";
  src: url("fonts/Faster_One/FasterOne-Regular.ttf");
}

section {
  margin-right: 5rem;
  margin-left: 5rem;
  padding: 5rem;
}
.lembikers{
  border: 1px solid black;
  width: 100%;
  height: 250px;
  position: relative;
}
#lem1 {

  background-image: url("../images/moto.svg");
  background-repeat: no-repeat;
  background-position:center;
  height: 100%;
}
.lembikers p{
  font-family: "FasterOne";
  font-size: 3rem;
  position: absolute;
  top: 80%;
  left: 45%;
  color: rgb(208, 212, 231);
}
.container-foto{
  background-color: rgb(40, 116, 116);

  
}
.container-foto img{
 
  width: 20%;
  padding: 20px;

}
nav img {
  width: 30px;
}
.redes {
  display: flex;
  flex-direction:row;
 background-color: #c7acae;
 align-items: center;
  
}
